<div class="weui-cell__hd">
    {{label}}<ng-content select="label"></ng-content>
</div>
<div class="weui-cell__bd">
    <div class="weui-input-area" *ngIf="type !== 'textarea'">
        <input #input class="weui-input" [type]="type"
            [attr.id]="id" [attr.name]="name" [placeholder]="placeholder"
            [attr.maxlength]="maxLength" [attr.minlength]="minLength" [pattern]="pattern"
            [attr.max]="max" [attr.min]="min" [required]="required" [readonly]="readonly"
            [disabled]="disabled" [autocomplete]="autocomplete ? 'on' : 'off'"
            [(ngModel)]="innerValue"
            (blur)="onBlur($event)" (focus)="onFocus($event)"
            (keydown)="onKeyboardEvent($event)" (keyup)="onKeyboardEvent($event)" />
        <div *ngIf="maxLength && countChars" class="weui-text-counter">
            <span>{{getCharCount()}}</span>/{{maxLength}}
        </div>
    </div>

    <div class="weui-input-area" *ngIf="type == 'textarea'">
        <textarea #textarea class="weui-textarea"
            [placeholder]="placeholder" [rows]="rows"
            [required]="required" [readonly]="readonly"
            [attr.minlength]="minLength" [attr.maxlength]="maxLength"
            [(ngModel)]="innerValue"
            (keydown)="onKeyboardEvent($event)" (keyup)="onKeyboardEvent($event)"></textarea>
        <div *ngIf="maxLength && countChars" class="weui-textarea-counter">
            <span>{{getCharCount()}}</span>/{{maxLength}}
        </div>
    </div>
</div>
<div class="weui-cell__ft">
    <ng-content select="[weui-last]"></ng-content>
    <i class="weui-icon-warn" *ngIf="state.invalid && showWarnIcon"></i>
</div>
